<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center">
  <div class="container-div">
    <ion-spinner *ngIf="isLoading; else showPageContent"></ion-spinner>
  </div>
</ion-content>

<ng-template #showPageContent>
  <p>
    This is the homepage!<br />
    Only authenticated users can access this view!
  </p>
  <br />
  <p>
    You are an authenticated user.<br />
    Your user details are as follows:
  </p>
  <p>
    User Email:<br />{{ currentUserObj.email }}<br /><br />
    User Verified:<br />{{ currentUserObj.emailVerified }}<br /><br />
    User ID:<br />{{ currentUserObj.uid }}<br />
  </p>
  <ion-button role="button" (click)="signOut()">Log Out</ion-button>
</ng-template>
